
.send-money-container {
   
    color: white;
    min-height: 100vh;
    /* padding: 15px; */
}
.send-money-top{
  padding: 15px;
  background: #2e014d;

}
.send-money-bottom{
  /* padding: 15px; */
  padding-top: 10px;
  background: #22182b;
  height: 100vh;

}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
}

.icon {
    font-size: 16px;
    cursor: pointer;
}

.header-icons {
    display: flex;
    gap: 15px;
}

.upi-apps {
    text-align: left;
    margin: 15px;
}
.upi-apps h2 {
  margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
}

.upi-icons img {
    width: 65px;
    margin: 0 10px;
}

.search-bar {
    background: #21182b;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 15px 0 0px;
    border: 2px solid #362b41;
}

.search-bar input {
    width: 100%;
    background: transparent;
    border: none;
    color: white;
    font-size: 16px;
    outline: none;
    padding-left: 10px;
}

.search-icon {
    color: white;
    font-size: 16px;
}

.split-expense {
    background: #4a1f6c;
    padding: 12px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icon {
    background: #662d91;
    padding: 10px;
    border-radius: 50%;
}

.new-badge {
    background: red;
    color: white;
    padding: 2px 6px;
    border-radius: 6px;
    font-size: 12px;
    margin-left: 5px;
}

.try-now {
    color: #a88df1;
    cursor: pointer;
}

.transactions {
    margin-top: 15px;
}

.transaction-item {
    display: flex;
    align-items: center;
    background: #3a1b54;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 10px;
    justify-content: space-between;
    position: relative;
}

.transaction-icon {
    width: 40px;
    height: 40px;
    font-size: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.transaction-details {
    flex-grow: 1;
    margin-left: 10px;
}
.transaction-amount {
   text-align: right;
}

.name {
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
}

.status {
    font-size: 14px;
    color: #a88df1;
    margin: 0px;
    text-align: left;
}

.amount {
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
}

.date {
    font-size: 14px;
    margin: 0px;
}

.received-indicator {
    width: 10px;
    height: 10px;
    background: green;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 10px;
}

.new-payment-btn {
    
    padding: 12px;
    background: #a85ef8;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 15px;
    cursor: pointer;
    width: 100%;
}

.no-transactions {
    text-align: center;
    color: #a88df1;
    margin-top: 20px;
    font-size: 16px;
}
