.page-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loader-container {
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.rotating-circle {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.success-message-container div {
    color: #6FD96F;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #3B2A55;
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    z-index: 1000;
    width: 80%; */
}

.success-text {
    color: #6FD96F;
}
